<ion-view title="{{patient_name}}" id="confirmation">
    <ion-nav-bar class="bar bar-clear"></ion-nav-bar>
     <ion-nav-buttons side="left">
    <button  ui-sref="callsHistory"  class="button back-button buttons button-clear header-item" ng-click="goBackview()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="req-doc-confirm" >
       <!-- <div>DR. {{doctor_name}}</div>-->
        <img src="{{image}}" class="rounded-img"/>


        <div style="text-align: left">
             <div  class="pullets">Patiant Name: <span class="info">{{patient_name}}</span></div>
             <div  class="pullets">Date: <span class="info">{{datetime}}</span></div>
             <div  class="pullets">Address: <span class="info">{{address}}</span></div>
             <div class="pullets" ng-repeat="item in treatments">
                 Treatment :<span class="info">{{item.name}}</span>
                 <br>
                 <div style="white-space: initial">
                     Dose : <span class="info">{{item.dose}}</span><br>Duration :<span class="info">{{item.duration}}</span>
                 </div> 
             </div>
            <div class="pullets">
                investigations :<span class="info" style="white-space: initial" ng-repeat="invest in invistigations">{{invest.name}} <span ng-hide="$last">,</span></span>
                 
             </div> 
            <div class="pullets">Notes</div>

            <div> 
                <textarea ng-model="notes" name="notes"   class="text-area" disabled>
{{notes}}
                </textarea>        </div>
            
            <div  class="pullets">Fees: <span class="info">{{doctor_rate}}</span></div>
            <div  class="pullets">Payment Method: <span class="info">{{payment_type}}</span></div>
        </div>

        <br>
        
    </ion-content>
</ion-view>