<ion-view  id="Login" title="{{'Change Password' |translate }}" class="login-screen">
    <ion-nav-bar class="bar bar-clear"></ion-nav-bar>
     <ion-nav-buttons side="left">
    <button ui-sref="settings" class="button back-button buttons button-clear header-item" ng-click="goBackview()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="logo-image"></div>
        <br>
        <form class="list" id="changePasswordForm" name="changePasswordForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="{{'OLD PASSWORD' | translate}}" name="old_password" ng-model="userdata.oldPassword" required>
                    
                </label>
            </div>
            <div class="list">
               <label class="item item-input">
                   
                    <input type="password" placeholder="{{'NEW PASSWORD' | translate}}" name="new_password" ng-model="userdata.newPassword" required>
                </label>
            </div>
            
       
            <button id="button3"  class="button  button-block button-link general-btn-font-color general-btn-bg-style" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword(userdata)" >{{"Submit" | translate}}</button>
            
            
           
        </form>
        
    </ion-content>
</ion-view>
