<ion-view  hide-nav-bar="true" id="forgetPasswordPage" class="login-screen">
     <ion-content padding="true" class="has-header">
        <div class="logo-image"></div>
        <br><br>
        <form class="list" id="forgetPasswordForm" name="forgetPasswordForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <input type="tel" placeholder="Mobile number" name="mobile" ng-model="userdata.mobile" required>
                    
                </label>
            </div>
            
            <button id="button3"  class="button  button-block button-link general-btn-font-color general-btn-bg-style" ng-disabled="forgetPasswordForm.$invalid" ng-click="findMobile(userdata)" >Submit</button>
            
        </form>
        
    </ion-content>
</ion-view>
