<ion-view title="Confirmation" id="page5" hide-nav-bar="true" class="login-screen">
    <ion-content padding="true" class="has-header container">
        <div class="logo-image"></div>
        <div class='confirm-heder'>Please enter the confirmation code</div>
        <form class="list" nam="confirmationForm" id="confirmationForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <input type="number" placeholder="Confirmation Code" name="code" ng-model="confirmation.code" required>
                    
                </label>
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="New Password" name="code" ng-model="confirmation.newPassword" required>
                    
                </label>
            </div>
            
            
       
            <button id="confirmation-button"  class="button  button-block button-link general-btn-font-color general-btn-bg-style" ng-disabled="confirmationForm.$invalid" ng-click="saveNewPassword(confirmation)">Submit</button>
            
            
           
        </form>
   
    </ion-content>
</ion-view>