<ion-view title="{{'Help' |translate}}" id="page7">
    <ion-nav-bar class="bar bar-clear"></ion-nav-bar>
     <ion-nav-buttons side="left">
    <button ui-sref="menu.map" class="button back-button buttons button-clear header-item" ng-click="goBackview()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header container">
       <div class="card">
            <div class="item item-divider">
                {{"If you have any questions or problems" |translate }} <br> {{"please reach us on any of the following:" |translate }} 
            </div>
            <div class="item item-text-wrap">
                <div  class="pullets">{{"Call center:" | translate }} <span class="info">0233335530</span></div>
                <div  class="pullets">{{"website:" | translate }}<span class="info"> <a href="http://www.kashf247.com/">http://www.kashf247.com/</a></span></div>
                <div  class="pullets">{{"Facebook:" | translate }} <span class="info"><a href="https://www.facebook.com/kashf247/">https://www.facebook.com/kashf247/</a></span></div>
               
            </div>

        </div>
    </ion-content>
</ion-view>
