<ion-view  id="firstScreen" hide-nav-bar="true" class="first-screen">
    <ion-content padding="true" class="has-header has-footer">
        <div class="first-screen-logo">
            <img src="img/name-logo.png">
        </div>
        <div class="first-screen-buttons">
            <a ui-sref="signup" id="home-button19" class="button button-outline button-light button-block">Sign Up</a>
            <a ui-sref="login" id="home-button18" class="button button-outline button-light button-block no-border">Login</a>
            
        </div>
    </ion-content>
</ion-view>