<ion-view title="minor Specialization" id="page16">
    <ion-content  class="has-header">
        <div class="item header">
            Please Select Minor Specialization
        </div>
        <ion-list >
            
            <ion-item  ng-repeat="item in minor_specialization" class="specialization-list">
                <div style="float: left;margin-right: 5px" class="specialization-image"> 
<!--                    <img  src="http://dev.kashfapp.zadsolutions.com/uploads/icon-heart.png">-->
                </div>
                <div ng-click="doctorList({{item.id}})" class="specialization-item">{{item.name}}</div>
                <!--<a href="#/minorSpecialization/{{item.id}}"> {{item.name}}</a>-->
            </ion-item>
        </ion-list>
<!--        <ion-list >
            <ion-item  ng-repeat="item in minor_specialization">
                 <a href="#/doctorList/{{item.id}}"> {{item.name}}</a>
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>