<ion-view title="No Response Page" id="N0page">
    <ion-nav-bar class="bar bar-clear"></ion-nav-bar>
     <ion-nav-buttons side="left">
    <button ui-sref="menu.map" class="button back-button buttons button-clear header-item" >
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header container">
       <div class="card">
            <div class="item item-divider">
                    No response from patient
            </div>
            <div class="item item-text-wrap">
                Sorry, your request was not answered by the doctor
               
            </div>

        </div>
    </ion-content>
</ion-view>

